/* Include the padding and border in an element's total width and height */
* {
  box-sizing: border-box;
}

/* CSS Media Queries for phone compatibility */
@media only screen and (max-width:768px) {
  .app {
    width: 90%;
  }
}

/* styling the body/container for the app and choosing background*/
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:cornflowerblue;
  font-family: sans-serif;
  height: 100vh;
  background: url(cool-background.png);
}

/* general styling for the added list items */
.app ul {
  list-style: none;
  color: white;
  padding: 0;
}

.app ul li {
  padding: 10px;
  background-color: #56609e;
  border-bottom: 1px solid #3a4674;
  border-radius: 30px;
}

/* Remove margins and padding from the list */
ul {
  margin: 0;
  padding: 0;
}

.app ul li i {
  float: right;
  cursor: pointer;
}

/* make the listed items background colour change on hovering over it */
.app ul li i:hover {
  color: white;
}

.app {
  margin: 0px;
  padding: 30px 40px;
  border-radius: 30px;
}

/* styling for heading 1 at top of page */
.app h1 {
  color: white;
  font-size: 20px;
  padding: 10px 0;
  text-align: center;
  border-radius: 30px;
  background-color: darkblue;
  font-family: Arial, Helvetica, sans-serif;
}

/* styling for the overall form */
.app form {
  display: flex;
  width: 100%;
  background-color:cornflowerblue;
  border-radius: 50px;
}

/* styling for the form input where users at tasks */
.app form input {
  border: none;
  border-radius: 10px;
  background-color: #40dfaa;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: white;
  padding: 10px;
  width: 75%;
}

/* styling for the button to add tasks */
.app form button {
  border: none;
  padding: 10px;
  background-color:darkslateblue;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  height: 42px;
  width: 25%;
  border-radius: 10px;
  color: white;
}

/* add a "checked" mark when clicked on */
.check {
  width: 0.8em;
  height: 0.8em;
  cursor: pointer;
  border-radius: 50%;
  background-color: white;
  border: 1px solid rgb(255, 255, 255);
  -webkit-appearance: none;
}

.check:checked {
  background-color: #1dd2af;
}

/* styling the items added to task list */
.task {
  font-size: 18px;
  padding: 0 10px;
  width: fit-content;
  background: transparent;
  border: none;
  color: white;
}

.task:focus {
  outline: none;
}

/* styling the option to cross through finished li */
.completed {
  color: whitesmoke;
  text-decoration:line-through;
}

/* styling the delete items option */
.close {
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 0%;
  padding: 12px 16px;
 
}

.close:hover {background: #bbb;}